*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary-brand: #4d5ae5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;

}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h2 {
    font-weight: 700;
    font-size: 36px;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

p {
    padding: 0;
    margin: 0;
}
button {
    font-weight: 500;
    color: #fff;

    cursor: pointer;
    background: #4d5ae5;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
svg {
    display: block;
}
form, input {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-header .container {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}
.header-logo {
    margin-right: 76px;
    padding: 24px 0;
}
.logo-span {
    color: #2e2f42;
}
.nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;

    align-items: center;
}
.nav-ref {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;

    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.current-nav-ref::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: #404bbf;
}
.nav-ref:hover, .nav-ref:focus {
    color: #404bbf;
}
.current-nav-ref {
    color: #404bbf;
}
.contacts {
    margin-left: auto;
}
.contacts-list {
    font-style: normal;

    display: flex;
    gap: 40px;
}
.contacts-ref {
    font-size: 12px;
    line-height: 150%;
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-ref:hover, .contacts-ref:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), 
    url(../images/img-name.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    max-width: 1440px;

    padding: 188px 0;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

    margin: 0 auto 48px;
    max-width: 496px;
}
.hero-button {
    line-height: 1.5;
    letter-spacing: 0.04em;

    min-width: 169px;
    max-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus {
    cursor: pointer;
    background-color: #404BBF;
}

.features {
    padding: 120px 0;
}
.visually-hidden {
    color: #2e2f42;
    text-align: center;

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    gap: 24px;

}
.features-item {
    width: calc((100% - 72px) / 4);
}
.features-icon-container {
    display: flex;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

    background: #f4f4fd;
    margin-bottom: 8px;
}
.features-icon {
    margin: auto auto;
}
.features-name {
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-text {
    color: #434455;
}

.our-team {
    background: #f4f4fd;
    padding: 120px 0;
}
.our-team-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.our-team-cards {
    display: flex;
    gap: 24px;
}
.team-card {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);

    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-card-text {
    padding: 32px 0;
}
.team-member-name {
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}
.team-member-post {
    font-size: 16px;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.team-member-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.team-member-social {
    width: 40px;
    height: 40px;
}
.team-member-link {
    display: flex; 
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-icon {
    fill: var(--light);
}
.team-member-link:hover, .team-member-link:focus {
    background-color: #404bbf;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    margin-bottom: 72px;
}
.portfolio-card {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-card-image {
    position: relative;
    overflow: hidden;
}
.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);

    padding: 40px 32px;
    background-color: #4d5ae5;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-card:hover .overlay{
    transform: translateY(0);
}
.portfolio-card-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}
.portfolio-card-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    color: #f4f4fd;

    padding: 100px 0;
}
.footer .container {
    display: flex;
    align-items: baseline;
}
.footer-logo-text {
    margin-right: 120px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-span {
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    max-width: 264px;
}

.footer-social {
    margin-right: 80px;
}
.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);

    margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-social-elipse {
    display: flex;
    width: 40px;
    height: 40px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
    background-color: #31D0AA;
}
.footer-social-icon {
    fill: var(--light);
}

.subscribe-form {
    display: flex;
    gap: 24px;
}
.subscribe-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);
    margin-bottom: 16px;
}
.subscribe-form-input-cont {
    display: flex;
    flex-direction: column;
}
.subscribe-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2e2f42;
    padding: 8px 16px;
}
.subscribe-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.subscribe-form-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    align-self: flex-end;

    display: flex;
    gap: 16px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button-icon {
    fill: var(--light);
}
.subscribe-form-button:hover, .subscribe-form-button:focus {
    background-color: var(--pressed-state);
}

.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    max-width: 408px;
    max-height: 584px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-exit-button {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    align-self: flex-end;
    flex-shrink: 0;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit-button-icon {
    margin: auto;
    fill: #2e2f42;
}
.modal-exit-button:hover, .modal-exit-button:focus {
    background-color: #404bbf;
}
.modal-exit-button:hover .exit-button-icon, .modal-exit-button:focus .exit-button-icon {
    fill: #fff;
}
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-label {
    position: relative;
}
.modal-label-title {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
.input-icon {
    position: absolute;
    left: 16px;
    bottom: 19px;
    fill: #2e2f42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding: 8px  16px 8px 34px;
    margin-bottom: 8px;

    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-input:focus-within {
    outline: 1px solid #4d5ae5;
}
.modal-label-input:focus-within +.input-icon  {
    fill: #4d5ae5;
}
.modal-label-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    margin-bottom: 16px;
}
.modal-label-textarea::placeholder {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.modal-label-textarea:focus-within {
    outline: 1px solid #4d5ae5;
}
.modal-checkbox {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
    align-self: start;
}
.modal-checkbox-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-input:checked + .custom-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
}
.modal-checkbox-input:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 8px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    transform: translate(5px, 2px) rotate(45deg);
}
.modal-checkbox-text {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-checkbox-span {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-span:hover, .modal-checkbox-span:focus {
    color: var(--pressed-state);
}
.modal-submit-button {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-button:hover, .modal-submit-button:focus {
    background-color: var(--pressed-state);
}